@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтвердите адрес электронной почты";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1>@ViewData["Title"]</h1>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- Row -->
            <div class="row">
                <div class="card">
                    
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->