@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение забытого пароля";
}


<div class="container marketing">
    <main class="form-signin w-50 m-auto">
        <h1>@ViewData["Title"]</h1>
        <p>
            Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
        </p>
    </main>
</div>