@{
    ViewData["Title"] = "О проекте";
}
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Репрессированный меридиан</h2>
            <p class="lead">Данный проект – это интерактивная карта и база данных мест, связанных с историей репрессий и ГУЛАГа на территории Красноярского края и людей, подвергшихся лишениям в период с 1920-х по 1950-е гг.</p>
            <p class="lead">Цель проекта – показать, что ныне мирный и спокойный Красноярский край имел и иную сторону, о которой многие наши современники могут не знать.</p>
            <p class="lead">Наша задача привлечь внимание к городским локациям, доселе незаметным и открыть новые смыслы привычных мест.</p>
            <p class="lead">Не менее важным является сохранение памяти о трагических событиях, развернувшихся на всей территории нашей страны в первой половине XX в.</p>
            <p class="lead">Запуск проекта «Репрессированный меридиан» приурочен к Дню памяти жертв политических репрессий 30 октября 2021 г.</p>
            <p class="lead">Интерактивная карта делится на два основных слоя: «Места» и «Люди», переключаясь между которыми Вы можете увидеть масштабы и географию репрессивной политики, осуществлявшейся на территории Приенисейской Сибири.</p>
            <p class="lead">Выбирая отдельные точки Вы можете ознакомиться с краткой информацией об интересующей вас личности или месте, а также посмотреть сопутствующие материалы.</p>
            <p class="lead">
                Наш проект постоянно развивается и дополняется.
                Мы будем рады обратной связи и вашей помощи в работе над интерактивной картой и базой данных.
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
