@{
    ViewData["Title"] = "Контакты";
}
<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Контакты</h2>
            <p class="lead">Ответственный за наполнение карты – Чечелев Михаил – научный сотрудник отдела истории Красноярского краеведческого музея.</p>
            <p class="lead">т. 234-08-00</p>
            <p class="lead">Время приема звонков: Пн-пт с 10:00 до15:00</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->