@{
    //if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    //{
    //    Layout = parentLayout.ToString();
    //}
    //else
    //{
    //    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    //}
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Управляйте своей учетной записью</h1>
            </div>
            <!-- PAGE-HEADER END -->
            
            <!-- ROW-1 OPEN -->
            <!-- Row -->
            <div class="row ">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Измените настройки своей учетной записи</h3>
                    </div>
                    <div class="card-body">
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <partial name="_ManageNav" />
                            </div>
                            <div class="col-md-9">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->




@section Scripts {
    @RenderSection("Scripts", required: false)
}
