@model IQueryable<GeoMVC7.Domain.Entities.ApplicationUser>
@using Syncfusion.EJ2
@using Syncfusion.EJ2.InPlaceEditor;
@{
    List<object> commands = new List<object>();
    commands.Add(new { type = "edit", buttonOption = new { content = "Редактировать", iconCss = "e-icons e-edit", cssClass = "e-flat e-details" } });
    commands.Add(new { type = "passwordForgot", buttonOption = new { content = "Сбросить пароль", iconCss = "e-icons recurrence", cssClass = "e-flat e-details" } });
    commands.Add(new { type = "delete", buttonOption = new { content = "Удалить", iconCss = "e-icons e-delete", cssClass = "e-flat e-details" } });
}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Список данных</h1>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- Row -->
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Таблица меток</h3>
                    </div>
                    <div class="card-body">
                        <a asp-area="Identity" asp-page="/Account/Register"><button id="table2-new-row-button" class="btn btn-primary mb-4"> Зарегистрировать пользователя</button></a>
                        <div class="row">
                            <div class="control-section">
                                <ejs-grid id="Grid" dataSource="@Model" commandClick="commandClick" allowPaging="true">
                                    <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true"></e-grid-editSettings>
                                    <e-grid-columns>
                                        <e-grid-column field="Email" headerText="Email" textAlign="Left"></e-grid-column>
                                        
                                        <e-grid-column headerText="Выбрать действие" commands="commands"></e-grid-column>
                                    </e-grid-columns>
                                </ejs-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->

<script>
    function commandClick(args) {
        if (args.commandColumn.type == "edit") {
            window.location.href = ("/Admin/User/Edit/" + args.rowData.Id)
        }
        else if (args.commandColumn.type == "passwordForgot") {
            window.location.href = ("/Admin/User/ResetPassword/" + args.rowData.Id)
        }
        else {
            window.location.href = ("/Admin/User/Delete/" + args.rowData.Id)
        }
    }
</script>
