@model GeoMVC7.Models.UserViewModel
@{
    ViewData["Title"] = "Сброс пароля";
    //ViewData["ActivePage"] = ManageNavPages.Index;
}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title"></h1>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- Row -->
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Пользователь</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-md-6">
                            <form id="profile-form" method="post">
                                <div class="form-floating mb-3">
                                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Пожалуйста, введите свой пароль." />
                                    <label asp-for="Password" class="form-label"></label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Пожалуйста, подтвердите свой пароль." />
                                    <label asp-for="ConfirmPassword" class="form-label"></label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}